<div ellipsis-angular class="large" [innerHTML]="html"></div>

<div #demo1 ellipsis-angular class="medium">
  <p>Lectus molestie non purus aliquet arcu conubia donec elementum, nibh dis feugiat integer placerat dapibus sem, in
    aliquet pharetra dolor sodales senectus mus. Nunc nam molestie viverra libero ullamcorper blandit elementum augue
    massa dolor, varius ad aptent morbi hac fringilla ut purus platea, per etiam venenatis faucibus magna vulputate
    arcu mollis quisque urna interdum justo, quam nisl neque hendrerit aliquam habitant erat cubilia.</p>

  <blockquote>ad gravida rhoncus etiam orci aenean finibus ad gravida rhoncus etiam orci aenean finibus</blockquote>

  <ul>
    <li>In gravida felis nisl ridiculus nec ligula justo nunc lectus commodo ullamcorper, dolor potenti torquent non
      sapien nam habitant egestas a.
    </li>
    <li>Natoque libero quam efficitur mollis sagittis metus varius potenti etiam, a egestas senectus conubia aptent
      magna non ipsum.
    </li>
    <li>Nunc fermentum commodo cras sodales vivamus venenatis odio gravida nostra, a magna curae nisi nisl fames
      cubilia natoque, scelerisque felis rhoncus lacus dignissim vehicula elit efficitur.
    </li>
    <li>Nibh nisi leo convallis dictum praesent potenti neque natoque eros, aliquam est lacinia dui ipsum fames
      ultrices primis luctus aliquet, scelerisque egestas finibus nisl fusce blandit sit quam.
    </li>
  </ul>
</div>
